# archivos de respaldo de editores
*~
*.*~
*.bak

# para ignorar a mano
_*
_*/*
*.ignore

# para ignorar los links de MyGit
Git*.lnk

# lock de documentos abiertos LibreOffice y MS Office
.~lock*.*
~$*.*

# lock para documentos abiertos de InDesign
~*.idlk

# específicos de Total Commander
descript.ion

# Archivos de MS Windows
Thumbs.db

# Archivos de MAC OS
.DS_Store



#fin .gitignore